# RENOMEIE ESSE ARQUIVO PARA `.env` - PARA CONFIGURAR AS VARIÁVEIS DE AMBIENTE

# MongoDB container settings
MONGO_INITDB_DATABASE=clients_db
MONGO_PORT=27017

# API application settings
MONGO_URI=mongodb://mongodb:27017
DB_NAME=clients_db

# Docker
COMPOSE_PROJECT_NAME=clients_api

# Log
LOG_LEVEL=DEBUG
