# CRIE UMA `.env` NA RAÍZ DO PROJETO COM O SEGUINTE CONTEÚDO PARA CONFIGURAR AS VARIÁVEIS DE AMBIENTE:

# MongoDB container settings
MONGO_INITDB_DATABASE=clients_db
MONGO_PORT=27017

# API application settings
MONGO_URI=mongodb://mongodb:27017
DB_NAME=clients_db
